.modal {
  background: #c9d3fa;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
}

.overlay {
  position: absolute;
  overflow-y: hidden;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(14, 14, 14, 0.224);
}

.card-modal-container {
  overflow-y: hidden;
  height: 100%;
}

.modal-container.display-block,
.card-modal-container.display-block {
  display: block;
}

.card-modal-container.display-block body {
  height: 100vh;
  overflow-y: hidden;
}

.modal-txt {
  font-size: 32px;
}

.modal-container.display-none,
.card-modal-container.display-none {
  display: none;
}

.card-modal-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto auto auto 1fr 1fr;
}

.card-modal-img {
  border-radius: 10px;
  max-width: 500px;
  grid-row: 1/7;
  margin-right: 20px;
}

.card-modal-title,
.card-modal-date {
  margin: 0;
}

.card-modal-title {
  font-size: 32px;
  font-weight: 800;
}

.card-modal-tags-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.card-modal-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.card-modal-bottom__item {
  height: fit-content;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #ffffff;
}

.card-modal-bottom__item {
  display: flex;
  align-items: center;
}