.search-container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #aeaeae;
  padding: 0 10px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.search-input {
  width: 400px;
  height: 40px;
  border: 0px;
}

.search-input:focus {
  outline: none;
}

.search-img {
  padding: 5px;
  width: 20px;
  cursor: pointer;
}

.search-img:hover {
  border-radius: 50%;
  box-shadow: 0 1px 4px #E4572E;
}

.loader-container {
  font-size: 32px;
}