ul {
  list-style: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.head-path {
  font-size: 32px;
  position: absolute;
  top: -30px;
  left: 30px;
}